<h1>My Tasks</h1>

<% @tasks.each do |task|%>
   <% if task.completed? then%>

   <h3><input type="checkbox"  checked >
     <%= link_to task.title, task_path(task) %></h3>
   <%else%>

   <h3><input type="checkbox">
     <%= link_to task.title, task_path(task) %></h3>
   <%end%>
 <%end%>

<p> <%= link_to "+ Add a new task", task_path %></p>
